html, body {
    height: 100%;
    margin: 0;
}

#some-padding-please {
    padding-top: 20%;
}

.full-screen {
    min-height: 100%;
}

#hint {
    color: darkgrey;
    margin-top: 60%;
}

#landing {
    background-color: #ffcd00;
}

#about {
    background-image: url("res/hackathon_example.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#project {
    background-color:blue;
	font-family: Lucida Console, Lucida Sans Typewriter, monaco, Bitstream Vera Sans Mono, monospace;
    color: azure;   
}

#animated-cursor::after {
    content: "";
    /* Remove display: inline-block if not required to be on the same line as text etc */
    display: inline-block;
    background-color: azure;
    vertical-align: top;
    width: 10px;
    /* Set height to the line height of .text */
    height: 24px;
    -webkit-animation: blink 1s step-end infinite;
    animation: blink 1s step-end infinite;
}

#potential-cool-stuff {
  margin-top: 50px;
}

#footer {
    background-color: cadetblue;
}


@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}